apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: agri-fastapi
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app: agri-fastapi
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
